h2 {
  display: flex;
  justify-content: center;
}

.factSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  position: absolute;
  top: 15%;
  width: 70%;
  text-align: center;
  font-size: 18px;
}

button {
  position: absolute;
  top: 50%;
  width: 20%;
  text-align: center;
  font-size: 18px;
  background-color: greenyellow;
  cursor: pointer;
}

button:hover {
  background-color: #2cda00;
}

@media only screen and (min-width: 768px) {
  .factSection {
    justify-content: center;
    flex-direction: row;
    gap: 10px;
} 
p {
  top: 20%;
  width: 25%;
}

}